<div id="call-to-action" class="section hr">
  <h2>Second Annual</h2>
  <h1>octocat<br/>dodgeball<br/>invitational</h1>
  <h2>Sunday, November 11th at 1:00pm</h2>
  <div id="the-pot">
    <span class="shine"></span>
    <h3 class="title">The Pot</h3>
    <h3 class="ammount">$<span id="ammount">72,000</span></h3>
  </div>
</div><!-- #header-wrapper -->

<div id="details" class="section hr">
  <h3 class="section-title">Details</h3>
  <div class="section-content">
    <h3>Where?</h3>
    <p>
      <a href="http://goo.gl/maps/jnPVO">SoMa Recreation Center</a><br/>
      270 6th Street, San Francisco, CA
    </p>
    <h3>When?</h3>
    <p>
      Sunday, November 11th 2012, 1:00pm until 6:30pm<br/>
      <ul>
        <li>1:00 to 1:30 - Sign in and warm up</li>
        <li>1:30 to 4:30 - Round Robin Tournament play</li>
        <li>4:45 to 6:00 - Single Elimination Round</li>
        <li>6:00 to 6:30 - Awards ceremony</li>
        <li>7:00pm - After-party, details coming soon</li>
      </ul>
    </p>
    <h3>Why?</h3>
    <p>
      Last year we invited 17 teams to compete on the dodgeball court, all in the name of charity. <a href="https://github.com/blog/969-first-annual-octocat-dodgeball-tournament-a-success">It was awesome!</a> While Heroku's team did defeat all the competition, the real champions are those who received some of the $57,000 we raised last year!
    </p>
    <p>
      <img height="180px" src="https://a248.e.akamai.net/camo.github.com/3a07e84b1d56ed7d9b78d5af94f6139f343d5d8b/687474703a2f2f696d616765732e696e7374616772616d2e636f6d2f6d656469612f323031312f31302f32332f31666362613933386264366434303435393631653932653034376539303937395f372e6a7067">
      <img height="180px"  src="https://a248.e.akamai.net/camo.github.com/571eb0d3ffe16207e2c81d42d1b1d86768c6a4f2/68747470733a2f2f696d672e736b697463682e636f6d2f32303131313032342d6637676b366736646a6765716e687465346975353666627366382e706e67">
      <img height="180px"  src="https://a248.e.akamai.net/camo.github.com/c3612de5063f574830f2836a0d5457788b6bf807/68747470733a2f2f696d672e736b697463682e636f6d2f32303131313032342d656d62353572776b31663934613235786a6773703678397070752e706e67">
      <img height="180px" width="249px" src="https://a248.e.akamai.net/camo.github.com/66dc7b248d89109003e916c725c9f03dfd9dadac/68747470733a2f2f696d672e736b697463682e636f6d2f32303131313032342d6a7978753564776d7564796731396137336667356e706a6e73632e706e67">
      <img height="180px" width="245px" src="https://a248.e.akamai.net/camo.github.com/ac59b4caddc7107b2d08aeff0bff30873fe2b38f/687474703a2f2f6661726d372e7374617469632e666c69636b722e636f6d2f363233332f363237353731363935365f663265313362346463352e6a7067">
      <img height="180px"  src="https://a248.e.akamai.net/camo.github.com/19f3aa2e09dec9d7a7cba97ef081cad05d6f4f10/68747470733a2f2f696d672e736b697463682e636f6d2f32303131313032342d6a3631346e6d656e67676e6e64736778686269656679693963662e706e67">
    </p>
    <p>
      This year we're going bigger. More teams, more money for charity, more fun! $3,000 buy in to enter competition, all funds will go to charity. This year we can have 24 teams competing, for a total of $72k raised!
    </p>
    <h3>What?</h3>
    <p>
    GitHub employees and a number of victims from other teams participate in an epic Dodgeball tournament.  Each team that is entered donates at least $3000 to the charity pot. At the end, all of the donations will be split between 4 pre-choosen charities. In the process, thousands are entertained.
    </p>
    <h3>How?</h3>
    <p>We will be playing (roughly) by the <a href="http://dodgeball4ever.com/balls/rules-staypuft-hollywood">rules of the World Dodgeball Society</a>.  The only difference being that the female:male ratio has been relaxed for these games.
    </p>
    <h3>Who?</h3>
    <p>We will all be playing for four amazing local charities:
      <table class="charity">
        <tr>
          <td valign="top" nowrap><a href="http://826valencia.org/">826 Valencia</a></td>
          <td class="desc">Dedicated to supporting students ages six to eighteen with their writing skills, and to helping teachers inspire their students to write.</td>
        </tr>
        <tr>
          <td valign="top" nowrap><a href="http://www.streetside.org/">Streetside Stories</a></td>
          <td class="desc">Cultivates young people's voices to develop literacy and arts skills, fosters educational equity, values diversity, and builds community.</td>
        </tr>
        <tr>
          <td valign="top" nowrap><a href="http://sfpl.org/">SF Public Libraries</a></td>
          <td class="desc">Gives access to information, knowledge, independent learning and the joy of reading.</td>
        </tr>
        <tr>
          <td valign="top" nowrap><a href="http://www.shfb.org/home">Second Harvest Food Bank</a></td>
          <td class="desc">Mobilizes individuals, companies, and community partners to connect people to the nutritious food they need.</td>
        </tr>
      </table>
    </p>
  </div>
</div><!-- #details -->

<div id="teams" class="section">
  <h3 class="section-title">Teams</h3>
  <div class="section-content">
    <ul>
      <% @teams.each do |team| %>
      <li class="team">
        <div class="team-header">
          <%= team.team_image %>
          <div class="info">
            <h3><%= team.name %></h3>
            <!-- <a class="btn">sponsor this team</a> -->
          </div>
        </div>
        <table class="team-content">
          <tr>
            <th>Company</th>
          </tr>
          <tr>
            <td><%= team.company %></td>
          </tr>
          <tr>
            <th colspan="2">Team</th>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                <% team.players.each do |player| %>
                  <li><%= player %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </li>
      <% end %>
    </ul>
    <% @page = "/new#signup-start" %>
    <%= erb :form %>
  </div>
</div><!-- #teams -->
<div id="challenge">
  <span class="dodgeball left"></span>
  <h4>Think you have</h4>
  <h3>The Balls?</h3>
  <span class="dodgeball right"></span>
</div>
